:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px; /* Agrega padding alrededor del contenido */
  text-align: center; /* Alinea el texto al centro */
}

h2, p {
  margin: 0; /* Elimina márgenes para un mejor control del espaciado */
}