<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="Correo Electrónico" labelPlacement="stacked" type="email" formControlName="username" placeholder="usuario@duocuc.cl" matTooltip="Introduce tu correo electrónico DUOC"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="stacked" type="password" formControlName="password" placeholder="Mínimo 8 caracteres" matTooltip="Debe contener 4 numeros, 3 caracteres, 1 mayuscula" required></ion-input>
    </ion-item>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
    
  </form>
  <button mat-raised-button color="accent" (click)="navigateToRegister()">Registrarse</button>
  <button mat-raised-button color="warn" (click)="navigateToRecover()">Recuperar Clave</button>
</ion-content>